@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
body {
  height: 200vh;
  font-family: Electrolize;
}

.container {
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}
/* base css end */

/* navbar start */
.navbar {
  background-color: black;
  color: white;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}
.logo-wrapper {
  color: red;
  font-size: 20px;
  padding-left: 15px;
}
.menu-list {
  display: flex;
  list-style: none;
  column-gap: 30px;
}
.menu-list-item {
  cursor: pointer;
}
.menu-list-item:hover {
  font-weight: bold;
}
.profil-container {
  display: flex;
  text-align: center;
  column-gap: 20px;
}
.profile-text-container {
  display: flex;
  text-align: center;
  column-gap: 5px;
}
.pofile-picture {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
}
.toogle-icon {
  color: goldenrod;
}
.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 1px;
}
.toggle {
  width: 40px;
  height: 20px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
/* navbar end */
/* sidebar start */
.sidebar {
  background-color: black;
  color: white;
  width: 50px;
  height: 200vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  align-items: center;
  padding-top: 60px;

  row-gap: 40px;
}
.sidebar i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}
/* sidebar end */

/* content-wrapper start */
.content-wrapper {
  margin-left: 50px;
}
/* content-wrapper end */

/* featured-content start */
.featured-content {
  background: url(img/spiderman.jpg);
  padding: 50px;
  height: calc(100vh - 150px);
  background-size: 100% 100%;
}
.featured-title {
  width: 400px;
}
.featured-desc {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 20px;
  color: black;
}
.featured-buttons {
  display: flex;
  column-gap: 20px;
}
.featured-buttons button {
  padding: 10px 25px;
  border-radius: 2px;
  margin-left: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  column-gap: 10px;
  font-size: 16px;
  font-weight: bold;
}
.featured-buttons .info-button {
  background-color: rgba(145, 142, 142, 0.5);
  color: white;
}

/* featured-content end */
/* content-wrapper end */

/* filter start */

.movie-list-filter {
  margin: 20px 0 20px 60px;
  padding: 20px;
}

.movie-list-filter select {
  background-color: black;
  color: white;
  padding: 7px 0;
  width: 125px;
}
.movie-list-container {
  margin-left: 70px;
  background-color: black;
  padding-left: 0;
}
.movie-list {
  list-style: none;
  padding: 0;
  height: 300px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.movie-list-wrapper {
  overflow: hidden;
}
.movie-item {
  position: relative;
}
.movie-item:hover .movie-item-title,
.movie-item:hover .movie-item-buttons {
  opacity: 1;
}
.movie-item:hover .movie-item-img {
  transform: scale(1.1);
  margin: 0 30px;
  opacity: 0.5;
  /* transition: 1s all ease-out; */
}

.movie-item-img {
  width: 270px;
  height: 200px;
  object-fit: cover;
  transition: 1s all ease-out;
}
.movie-item-title {
  background-color: rgba(40, 40, 40, 0.4);
  padding: 0 10px;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 40px;
  opacity: 0;
  transition: 1s all ease-in-out;
}
.movie-item-buttons {
  background-color: rgba(40, 40, 40, 0.5);
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  bottom: 10%;
  left: 50px;
  display: flex;
  column-gap: 20px;
  opacity: 0;
  transition: 1s all ease-in-out;
}
.movie-item-buttons i {
  cursor: pointer;
  opacity: 0.5;
  font-size: 20px;
  transition: 0.5s all ease;
}
.movie-item-buttons i:hover {
  opacity: 1;
}
